body {
  background: #0d0d0d;
  color: var(--color-text);

  font-family: var(--font-family);

  font-size: var(--font-md);

  overflow-x: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-text);
  caret-color: var(--color-text);

  box-shadow:
    0 0 0 1000px
    var(--color-surface)
    inset;

  transition:
    background-color 9999s ease-out;
}